*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background-color: #fff;
    color: #303030;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.button-background {
    transition: fill .5s;
}
.button {
    &__text {
        display: inline-block;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        transform: translateY(-17px);
        margin-left: -57px;
    }
    &:hover {
        .button-background {
            fill: #A9A32A;
        }
    }
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
        padding: 0 10px;
    }
    &__icon {
        fill: #fff;
    }
}
.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.slick-prev,
.slick-next {
    fill: #000;
    transition: fill .5s;
}
.slick-button {
    position: absolute;
    left: 275px;
    bottom: -4px;
    z-index: 5;
    cursor: pointer;
    border: none;
    background-color: transparent;
    &:hover {
        .slick-prev,
        .slick-next {
            fill: #a9a32a;
        } 
    }
}
.slick-button-next {
    left: 340px;
}
